<div class="container">
  	<a href="mailto:talkparadigm@gmail.com">
  		<img src="/assets/icons/envelope_icon.svg">
  	</a>
  	<a href="https://facebook.com/talkparadigm">
  		<img src="/assets/icons/facebook_icon.svg">
  	</a>
    <a href="https://twitter.com/talkparadigm">
    	<img src="/assets/icons/twitter_icon.svg">
    </a>
    <a href="https://instagram.com/u/talkparadigm/">
    	<img src="/assets/icons/instagram_icon.svg">
    </a>
    <p>&copy; Copyrighted by Talk Paradigm 2016</p>
</div>
