<div class="container">
  	<a href="mailto:talkparadigm@gmail.com" target="_blank">
  		<img src="/assets/icons/envelope_icon.svg">
  	</a>
  	<a href="https://facebook.com/talkparadigm" target="_blank">
  		<img src="/assets/icons/facebook_icon.svg">
  	</a>
    <a href="https://twitter.com/talkparadigm" target="_blank">
    	<img src="/assets/icons/twitter_icon.svg">
    </a>
    <a href="https://instagram.com/_u/talkparadigm/" target="_blank">
    	<img src="/assets/icons/instagram_icon.svg">
    </a>
    <p>&copy; Copyrighted by Talk Paradigm 2016</p>
</div>
