<div class="container">
  <ul class="carousel image" rn-carousel rn-carousel-auto-slide=5 rn-carousel-controls rn-carousel-duration=800 rn-carousel-transition="custom" rn-carousel-controls-allow-loop>
    <li ng-repeat="card in $ctrl.talkparadigmCards track by $index">
      <div class="content"><p>{{ card.content }}</p></div>
      <div class="layer"><img class="image" src='{{ card.image }}'></div>
    </li>
  </ul>
</div>

<!-- <header class="hero-unit" id="banner">
  <div class="container">
    <h1>Jacky</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
    <ul rn-carousel rn-carousel-index rn-carousel-auto-slide=5 rn-carousel-transition=hexagon class="image">
      <li ng-repeat="card in $ctrl.talkparadigmCards">
        <div class="layer"><img src='{{ card }}'></div>
      </li>
    </ul>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in $ctrl.awesomeThings">
        <li><a href="#" uib-tooltip="{{thing.info}}">{{thing.name}}</a></li>
      </ul>
    </div>
  </div>
</div> -->
